.footer-nav {
  margin-block: 12px;

  &__ul {
    display: flex;
    gap: 20px;

    & > li {
      display: inline-block;
    }
  }

  &__anchor {
    color: var(--footer-link-gray);
    font-size: 11px;
  }
}
