.footer-links-block {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: var(--font-xxs);

  &.m-wide {
    width: 520px;
  }

  &__ul {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    flex-wrap: wrap;
    min-width: 240px;
    height: 200px;
  }

  &__anchor {
    color: var(--footer-link-gray);
  }
}
