.header {
  background-color: var(--header-blue);

  &__inner {
    margin-left: 175px;
    margin-right: 139px;
    padding-block: 13px;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
  }
}
