.header {
  background-color: var(--header-blue);

  &__inner {
    margin-left: 175px;
    margin-right: 139px;
    padding-block: 0.8rem;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;

    &__right {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
  }
}
