.header-links {
  background-color: var(--header-box-blue);
  border-radius: 4px;
  padding: 4px 12px;
  width: 316px;

  &__ul {
    display: flex;
    justify-content: space-between;
  }

  &__li {
    &:not(:last-child) {
      &::after {
        content: "|";
        color: var(--header-divider-gray);
        font-size: var(--font-xs);
        padding-left: 12px;
      }
    }
  }

  &__anchor {
    color: var(--white);
    font-size: var(--font-xs);
  }
}
