.header-menus {
  &__ul {
    display: flex;
  }

  &__li {
    &:not(:last-child) {
      padding-right: 8px;

      &::after {
        content: "|";
        color: var(--header-divider-gray);
        font-size: var(--font-xs);
        font-weight: bold;
      }
    }
  }

  &__anchor {
    font-size: var(--font-xs);
    color: var(--header-text-gray);

    &--active {
      color: var(--white);
    }
  }
}
