.new-arrivals {
  width: 778px;

  &__heading {
    font-size: var(--font-xl);
    margin-bottom: 24px;
    font-weight: bold;
  }

  &__releases {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }

  &__read-more {
    margin-top: 24px;
    text-align: center;
  }
}
