.c-release-card {
  width: 380px;
  display: flex;
  gap: 1rem;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--border-gray);

  &__info {
    width: 256px;

    &__title {
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      font-size: 14px;
      margin-bottom: 4px;
      height: 64px;
    }

    &__detail {
      color: var(--text-gray);
      font-size: 0.7rem;
      display: flex;
      align-items: center;
      gap: 12px;

      &__publishdate {
        display: flex;
        align-items: center;
        gap: 3px;
      }
    }
  }

  &__thumbnail {
    width: 100px;
    height: 66px;
  }

  &:hover &__info {
    &__title {
      text-decoration: underline;
    }
  }
}
