.searchbox {
  display: flex;
  height: 30px;

  &__input {
    height: calc(100% - 6.4px);
    width: 288px;
    padding: 3.2px 12.8px;

    &:focus {
      outline: solid var(--outline-blue);
    }

    &::placeholder {
      color: var(--placeholder-gray);
      font-size: 0.8rem;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    background-color: var(--searchbox-blue);
    height: 30px;
    width: 30px;
    border-top-right-radius: 0.1rem;
    border-bottom-right-radius: 0.1rem;
    align-items: center;
    cursor: pointer;

    &:focus {
      outline: solid var(--outline-blue);
    }
  }
}
