.c-tabmenu {
  padding-block: 0.4rem;
  background-color: var(--white);

  &__ul {
    display: flex;
    gap: 1rem;
    justify-content: center;
  }

  &__anchor {
    color: var(--tabmenu-blue);
    font-size: 0.8rem;
  }

  &.m-active {
    font-weight: bold;
  }
}
