.c-tabmenu {
  padding-block: 0.4rem;
  background-color: var(--white);
}

.c-tabmenu__ul {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.c-tabmenu__anchor {
  color: var(--tabmenu-blue);
  font-size: 0.8rem;
}

.c-tabmenu__anchor.m-active {
  font-weight: bold;
}
