:root {
  font-size: var(--font-md);
}

* {
  font-family: "Hiragino Kaku Gothic ProN";
  padding: 0;
  margin: 0;
}

body {
  width: 1440px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

button {
  border: none;
  outline: none;
  appearance: none;
}

input {
  outline: none;
  appearance: none;
  border: none;
  border-top-left-radius: 1.6px;
  border-bottom-left-radius: 1.6px;
}
