:root {
  --header-blue: #24436f;
  --header-box-blue: #345584;
  --searchbox-blue: #3081c9;
  --tabmenu-blue: #294c7a;
  --text-gray: #a2a2a2;
  --header-text-gray: #bfc9d7;
  --bg-gray: #f2f2f2;
  --heading-black: #3b3b3b;
  --read-more-blue: #3081c9;
  --footer-bg-gray: #fafafa;
  --black: #000000;
  --white: #ffffff;
  --header-divider-gray: #bfc9d7;
  --placeholder-gray: #bbbbbb;
  --outline-blue: #3081c9;
  --border-gray: #e4e4e4;
  --keyword-gray: #f1f1f1;
  --shadow-gray: #0000003d;
  --footer-link-gray: #797979;
  --footer-divider-gray: #e0e0e0;

  --font-xxs: 11px;
  --font-xs: 13px;
  --font-sm: 14px;
  --font-md: 16px;
  --font-lg: 20px;
  --font-xl: 24px;
}
